@media screen and (min-width: 300px) and (max-width: 400px) {
  #nav-web {
    display: none;
  }
  #nav-mobile {
    display: block;
  }
}

@media (min-width: 350px) {
  #nav-web {
    display: block;
  }
  #nav-mobile {
    display: none;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 99%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1px;
  background-color: #110038;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
}

a {
  color: white;
}

.header {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  padding: 5px 7px;
}

.header__text {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
}

.search .logo {
  content: url(../../images/gifOF_logo_dark.png);
  background-repeat: no-repeat;
  background-position: center;
}

.actionBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.container {
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

.buttonsBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.themesBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.themesBarMenu {
  display: none;
  position: absolute;
  left: 0;
  bottom: -79px;
  width: 83%;
  padding: 10px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.themesBarMenu.isOpen {
  display: block;
}

.themesBarMenuBtn {
  width: 100%;
  border: 1px solid #808080;
  padding: 5px;
}

.themesBarMenuBtn:focus {
  outline: none;
}

.themesBarMenuBtn:not(:last-child) {
  margin-bottom: 5px;
}

.themesBarMenuBtn.isSelected {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
}

.btn {
  font-size: 16px;
  line-height: 18px;
  height: 36px;
  letter-spacing: 0;
  text-align: center;
}

.btnDefault {
  background: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFF;
}

.btnAlternate {
  width: 102px;
  background: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.btnAlternate a {
  font-size: 16px;
  color: #8F8F8F;
  letter-spacing: 0;
  line-height: 18px;
}

.titleBar {
  margin-left: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  height: 24px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.titleBar .titleText {
  padding: 2px;
}

.titleBarHeader {
  margin-left: 1px;
  margin-right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 24px;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  color: #ffffff;
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.titleBarHeader .titleHeaderText {
  padding: 1px;
}

.window {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1px;
  width: auto;
  height: auto;
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.containerSearch {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.containerSearch .inpSearch {
  background: #ffffff;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  height: 48px;
  width: 86%;
  margin: 10px;
}

::-webkit-input-placeholder {
  padding: 8px;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 22px;
}

:-ms-input-placeholder {
  padding: 8px;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 22px;
}

::-ms-input-placeholder {
  padding: 8px;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 22px;
}

::placeholder {
  padding: 8px;
  font-size: 16px;
  color: #B4B4B4;
  letter-spacing: 0;
  line-height: 22px;
}

.suggestedGifs .resultsGifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: auto;
}

.titleInput {
  background-color: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  padding: 7px 0 7px 7px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  width: 99%;
  margin-bottom: 16px;
}

.item {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 4px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.imgItem {
  width: auto;
  height: auto;
  margin: 2px;
  cursor: pointer;
}

.overlay {
  display: none;
  width: 99%;
  height: 30px;
  border: 0px solid #4180F6;
  position: absolute;
  bottom: 7px;
  left: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 2px;
  font-size: 20px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  opacity: 0.80;
}

.item:hover .overlay {
  display: inline-block;
}

#gif_suggested {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#gif_suggested .gif-box {
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  width: 288px;
  height: 298px;
  padding: 3px 4px 4px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

#gif_suggested .gif-title {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding: 3px 0 3px 3px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}

#gif_suggested .gif-img {
  height: 280px;
}

#gif_suggested .gif-img img {
  width: 100%;
  height: 100%;
  background-color: #4B4B4B;
  background-image: url(https://win98icons.alexmeub.com/icons/png/application_hourglass-0.png);
  background-repeat: no-repeat;
  background-position: center;
}

#gif_suggested .btn-gif {
  position: absolute;
  top: 272px;
  left: 55px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 8px 12px;
}

#gif_suggested .gif-box a {
  color: #ffffff;
  text-decoration: none;
}

.autocomplete-content {
  /* box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #ffffff; */
  display: none;
  padding: 0 16px;
  color: #000000;
  padding-top: 10px;
}

#gif_suggested .see-more {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 8px 10px;
  position: absolute;
  top: 250px;
  left: 7px;
  background: #2E32FB;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

#gif_suggested .close-button {
  position: absolute;
  right: 4px;
  width: 16px;
  height: 14px;
  border: none;
}

.suggestions .results .gif-container {
  width: 280px;
  height: 280px;
  margin-top: 2px;
  position: relative;
}

#gif_suggested .titleBarHeader {
  margin-left: 1px;
  margin-right: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 24px;
  font-size: 14px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 1px 0 0 #110038;
  box-shadow: 0 1px 0 0 #110038;
  color: #ffffff;
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

#gif_suggested .see-more:hover {
  background: #4B4B4B;
  -webkit-box-shadow: inset -2px -2px 0 0 #FFFFFF inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #FFFFFF inset 2px 2px 0 0 #FFFFFF;
  outline: 1px dotted #110038;
  outline-offset: -4px;
}

.tagsBar {
  height: 9rem;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  position: relative;
  display: none;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.tagsBar .tagsAutocmplate {
  margin: 0%;
  list-style: none;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding-left: 1%;
}

.tagsBar .tagsAutocmplate :hover {
  border: 1px dotted #808080;
  cursor: pointer;
  background: #979797;
}

.tagsBar .tagsAutocmplate .labelTags {
  background: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 86%;
  margin: 0.5% 0;
  height: 1.5em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tagsBar .tagsAutocmplate .labelTags p {
  margin: 0;
  width: 100%;
  padding-left: 1%;
  color: #110038;
}

.record {
  display: inline;
  margin: 2%;
  position: relative;
}

.record .logo {
  width: 100px;
  content: url(../../images/gifOF_logo_dark.png);
}

.record .logo :hover {
  cursor: pointer;
}

.record .arrow {
  content: url(../../images/arrow.svg);
  line-height: 2%;
  padding-right: 2%;
  color: blanchedalmond;
}

.loader {
  display: none;
}

.createBox {
  margin-bottom: 10%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.create-gif-section {
  width: 684px;
  height: 400px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.create-gif-section {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 684px;
  height: 450px;
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  color: #110038;
}

.create-gif-section .create-gif-title {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  font-size: 14px;
  color: white;
  letter-spacing: 0;
  position: absolute;
  padding-right: 593px;
  padding-left: 10px;
  top: -14px;
}

.create-gif-section .create-gif-window {
  position: absolute;
  top: 50px;
  left: 20px;
}

.create-gif-section .subtitle-window {
  top: -10px;
  left: 50px;
  position: absolute;
}

.create-gif-section .create-gif-text {
  padding-left: 50px;
}

.create-gif-section .create-gif-text .it-bld {
  font-weight: bold;
}

.create-gif-section .create-gif-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 40px;
  padding-top: 29px;
}

.create-gif-section .create-gif-btns .btn-create-gif {
  width: 144px;
  height: 36px;
}

.create-gif-section .create-gif-btns .cancel {
  padding-right: 20px;
  margin-right: 20px;
  background: #ed84f7;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.create-gif-section .create-gif-btns .confirm {
  background: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.record_div {
  width: 860px;
  height: 548px;
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  margin: 5% 20% 2% 20%;
  position: relative;
}

.record_div .record_header {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  height: 4%;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.record_div .record_header .close {
  content: url("../../images/button_close.svg");
  padding-right: 1%;
  width: auto;
}

.record_div .record_header a {
  padding-left: 1%;
  font-family: 'Chakra Petch', sans-serif;
}

.record_div .record_screen {
  width: 832px;
  height: 434px;
  border: solid 1px black;
  bottom: 2%;
  margin: 2%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.record_div .record_screen .img-globe, .record_div .record_screen .texto-subiendo, .record_div .record_screen .umpload, .record_div .record_screen .tiempo-subiendo {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.record_div .record_screen .img-globe {
  width: 48px;
}

.record_div .record_screen .umpload {
  width: 324px;
  height: 24px;
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px;
}

.record_div .record_screen .umpload .time-fraction {
  width: 324px;
  height: 20px;
  margin: 0 1px;
  background: #999999;
}

.record_div .record_screen .umpload .time-fraction::-webkit-progress-value {
  background-color: #EE3EFE;
}

.record_button {
  position: absolute;
  top: 704px;
}

.record_button .record_capturar {
  background-color: #EE3EFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  left: 950px;
}

.record_button .record_capturar a {
  height: 26px;
  width: 144px;
  padding-left: 20%;
  padding-right: 30%;
  padding-top: 6%;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.record_button .record_capturar i {
  content: url("../../images/camera_light.svg");
  background: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  padding-right: 5%;
  padding-left: 5%;
}

.record_button .stop_capturar {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  left: 930px;
  position: absolute;
  display: none;
}

.record_button .stop_capturar a {
  background-color: #FF6161;
  padding-left: 55px;
  padding-right: 65px;
  padding-top: 9px;
  padding-bottom: 9px;
  color: #ffffff;
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.record_button .stop_capturar i {
  content: url("../../images/recording.svg");
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  padding-right: 5%;
  padding-left: 5%;
}

.record_button .section_umpload {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 350px;
  left: 790px;
  display: none;
  position: absolute;
}

.record_button .section_umpload .umpload_captura :hover {
  cursor: pointer;
  background: #f36fff;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.record_button .section_umpload .umpload_captura a {
  background: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  padding: 10px 30px 10px 30px;
}

.record_button .section_umpload .repeat_captura {
  padding-right: 5px;
}

.record_button .section_umpload .repeat_captura :hover {
  cursor: pointer;
  background: #110038;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.record_button .section_umpload .repeat_captura a {
  background: #110038;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
  padding: 10px;
}

.record_button .cancel_umpload {
  left: 955px;
  position: absolute;
  display: none;
}

.record_button .cancel_umpload :hover {
  cursor: pointer;
  background: #1c074e;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.record_button .cancel_umpload a {
  background: #110038;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
  padding: 10px 50px 10px 50px;
}

.section_timer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 704px;
  left: 310px;
}

.section_timer .timer {
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 124px;
  height: 36px;
  display: none;
}

.section_timer .resume_section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
  position: relative;
}

.section_timer .resume_section .bar_time {
  width: 240px;
  height: 40px;
  background: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section_timer .resume_section .bar_time div {
  border: solid 1px white;
  width: 19px;
  height: 35px;
  padding: 1px;
}

.section_timer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  top: 704px;
  left: 310px;
}

.section_timer .timer {
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  width: 124px;
  height: 36px;
  display: none;
  color: #110038;
}

.section_timer .resume_section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
  position: relative;
}

.section_timer .resume_section .bar_time {
  width: 240px;
  height: 40px;
  background: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section_timer .resume_section .bar_time div {
  border: solid 1px white;
  width: 19px;
  height: 35px;
  padding: 1px;
}

.img_play {
  content: url("../../images/forward.svg");
  background: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 0px 8px;
  margin: 0px 4px 0px 4px;
  display: none;
}

.boxFileDownLoad {
  margin: 5% 20% 2% 20%;
  width: 721px;
  height: 391px;
  display: none;
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.download_header {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  height: 4%;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: black;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.download_header .close {
  content: url("../../images/button_close.svg");
  padding-right: 1%;
  width: auto;
}

.download_header a {
  padding-left: 1%;
  font-family: 'Chakra Petch', sans-serif;
}

.boxConfirmDow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.boxConfirmDow .downImg {
  width: 365px;
  height: 191px;
  border: solid black 1px;
  margin: 2%;
}

.boxConfirmDow .downButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2%;
}

.boxConfirmDow .downButtons .downCopy, .boxConfirmDow .downButtons .downFile {
  width: 200px;
  padding: 4% 18%;
  background: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.boxConfirmDow .downButtons .downFile:hover {
  cursor: pointer;
}

.downListo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 5%;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.downListo a {
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 1% 10%;
}

.labelCopy {
  display: none;
}

footer {
  padding-top: 100px;
}
/*# sourceMappingURL=purple-style.css.map */