$background-color:#fff4fd;
$background-color-suggested: #4B4B4B;
$title-degree-1:#4180F6;
$title-degree-2:#F7C9F3;
$title-font-color: #ffffff;
$title-border-left: #ffffff;
$title-border-right: #ffffff;
$title-border-bottom: #000000;
$title-border-top: #ffffff;
$title-shadow-color:#110038;
$btn-default-color: #F7C9F3;
$btn-default-font-color: #110038;
$btn-default-border-color: #110038;
$btn-default-shadow-color1: #997D97;
$btn-default-shadow-color2: #FFFFFF;
$btn-alt-back-color: #E6E6E6;
$btn-alt-font-color: #B4B4B4;
$btn-alt-border-color: #808080;
$btn-alt-shadow-color1: #B4B4B4;
$btn-alt-shadow-color2: #FFFFFF;
$btn-alt-shadow-color3: #284F99;
$btn-alt-shadow-color4: #3A72DB;
$window-back-color:#E6E6E6;
$window-shadow-color1:#B4B4B4;
$window-shadow-color2:#FFFFFF;
$inp-search-color:#FFFFFF;
$inp-search-border-color:#979797;
$inp-search-shadow-color1:#E6E6E6;
$inp-search-shadow-color2:#000000;
$inp-search-placeholder-color:#B4B4B4;
